[submodule "StackScribe-frontend"]
	path = StackScribe-frontend
	url = https://github.com/ashishyadava/StackScribe-frontend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/ashishyadava/StackScribe-frontend.git
